body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.image-container {
    position: relative;
}

.valentines-image {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    z-index: 1;
}

.gif-hearts {
    z-index: 2; 
    position: absolute;
    top: 65%; 
    left: 38%;
    transform: translate(-50%, -50%); 
    width: 20%;
    height: auto;
}
